body {
    background-color: rgb(241, 241, 241);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
    height: 100vh
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    display: inline-flex;
    background-color: rgb(53, 53, 53);
    width: 100%;
    max-height: 60px;
    flex-grow: 0;
    flex-basis: auto;
}

.logo {
    padding-left: 10px;
    width: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo__content {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    list-style-type: none;
}

.menu__item {
    padding: 0 10px;
    height: 100%;
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: left;
    color: white;
}

a.menu__text {
    text-decoration: none;
    color: inherit;
}

.menu__item:hover {
    cursor: pointer;
    background-color: #111;
}

.container-body {
    background-color: rgb(255, 142, 142);
    display: inline-block;
    padding-top: 60px;
    height: 100%;
}

.container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-banner__banner {
    max-width: 100%;
    height: auto;
}

.container_produtos {
    width: 100%;
    max-width: 1235px;
    display: flex;
    align-items: left;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    padding: 0px;
}

.container-cards {
    background-color: grey;
    border-radius: 5px;
}

.menu-busca {
    margin-right: 15px;
    background-color: darkblue;
    border-radius: 5px;
    width: 250px;
    height: 500px;
}

.produtos-cards-titulo {
    font-size: 22px;
    font-weight: bold;
}

.list__cards {
    margin: 0px 15px;
    padding: 0;
    max-width: 850px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.list__cards__card {
    background-color: rgb(53, 53, 53);
    margin: 15px 15px;
    height: 300px;
    width: 200px;
    display: inline-block;
    border-radius: 2%;
}

.list__cards__card__image {
    margin: 10px;
    height: 140px;
    width: 180px;
    border-radius: 2%;
    background-color: white;
}

.list__cards__card__text {
    margin: 0 10px;
    height: 140px;
    max-width: 180px;
    text-align: center;
    color: white;
}

.list__cards__card__text__titulo {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
}

.list__cards__card__text__descricao {
    margin: 5px 0px 10px 0px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    height: 60px;
}

.list__cards__card__text__quantidade {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    text-align: left;
}

.list__cards__card__text__valor {
    margin: 0px;
    font-size: 20px;
    text-align: left;
}

.container__btnarea {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.container__btnarea_button {
    margin: 10px;
    width: 150px;
    height: 30px;
    background-color: rgb(53, 53, 53);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.container__btnarea_button:disabled {
    display: none;
}

.container__btnarea_button:active {
    width: 150px;
    height: 30px;
    background-color: rgb(34, 33, 33);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.container__registro {}

.footer {
    background-color: rgb(53, 53, 53);
    flex-grow: 0;
    flex-basis: auto;
    min-height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    color: white;
    font-size: 13px;
}